.ticket{
    border: 1px solid #000;
    display: inline-block;
    width: 226mm;
    max-height: none;
    background: white;
    box-sizing: border-box;
}

:host {
    display: block;
}

::ng-deep .mat-dialog-container {
    padding: 16px !important;
    height: auto !important;
    max-height: 90vh !important;
}

td {
  text-align: center;
}

@media print {
  body * {
    visibility: hidden;
  }

  #non-printable, #cdk-describedby-message-container,
  .cdk-overlay-container, .cdk-global-overlay-wrapper, .cdk-overlay-pane,
  mat-dialog-container, app-preview-dialog, head *, mat-dialog-actions{
    display: none;
    visibility: hidden;
  }

  #ticket-content, #ticket-content * {
    visibility: visible;
  }

  #ticket-content {
    position: absolute;
    left: 0;
    top: 0;
  }
}


.only-for-print{
    display: none;
    visibility: hidden;
}
